#modal {
    position: absolute;
    min-width: 40rem;
    min-height: 30rem;
    z-index: 1000;
    background-color: white;
    border-radius: 2.6rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#modal.invisible {
    visibility: hidden;
}

#modal > h3 {
    color: #999;
}

#modal > audio {
    margin-top: 5rem;
}

#modal > p {
    margin-top: auto;
    color: #444;
}

#modal > div {
    margin-left: auto;
    margin-top: auto;
    display: flex;
    gap: 1rem;
}

#modal > div > button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}

#modal > div > button:hover { opacity: 0.9; }

#modal > form {
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
}

#modal > form > div {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

#modal form > div > div > select {
    background-color: white;
    border: solid 0.15rem rgb(147, 147, 147);
    border-radius: 0.2rem;
}

#record {
    width: 25rem;
    aspect-ratio: 1/1;
    position: relative;
    margin-inline: auto;
    margin-top: 14rem !important;
}

#record-button {
    border-radius: 50%;
    background-color: var(--secondary);
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("/img/microphone.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    filter: brightness(100%);
    transition: filter 0.2s;
    cursor: pointer;
}

#record.recording #record-button {
    background-image: url("/img/stop_rec.svg");
    background-size: 40%;
    background-color: #cf3446;
}

#record-button:hover { filter: brightness(105%); }

@keyframes record-button-effect {
    0% {width: 100%; opacity: 100%;}
    100% {width: 120%; opacity: 0;}
}

#record-button-effect {
    z-index: -1;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--secondary);
    position: absolute;
    left: 50%;
    top: 50%;
    animation: record-button-effect 2s infinite;
}

#record.recording #record-button-effect {
    background-color: #cf3446;
}

#description {
    margin-top: 5rem;
    width: 45rem;
    margin-inline: auto;
    text-align: center;
}

#description > h1 {
   font-size: 4rem; 
   color: #444;
   font-family: 'Ubuntu', sans-serif;
}

#description > p {
    margin-top: 1rem;
    font-size: 2rem; 
    color: #999;
}
