#container {
    margin-top: 10rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    border-radius: 0.8rem;
    width: 90%;
    padding: 1.5rem 1.5rem 3rem;
    margin-inline: auto;
    background-color: var(--secondary-light);
    position: relative;
}

#container > .save {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: var(--secondary);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0.5rem;
}

#container > .save:hover {
    opacity: 0.9;
}

#container > .save::after {
    pointer-events: none;
    content: "";
    background-image: url("/img/save.svg");
    background-color: var(--secondary-light);
    background-size: cover;
    width: 1.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: -0.5rem;
    bottom: -0.5rem;
    border-radius: 50%;
    z-index: 2;
}

.upper {
    width: 100%;
}

.upper > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}

.upper > h1 > span {
    font-weight: 700;
    color: var(--secondary);
}

.lower {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#certainty-display {
    width: 50rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    background-image: conic-gradient(var(--secondary) 0, #fff 0deg);
    transition: background-image 2s ease-in-out;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#certainty-display::after {
    content: "";
    width: 85%;
    aspect-ratio: 1/1;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 0 10px -6px rgb(0 0 0 / 0.1);
}

#certainty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

#certainty-text > h2 {
    font-size: 2rem;
    font-weight: 400;
}

#certainty-text > h2 > span {
    font-weight: 600;
}

#certainty-text > p {
    color: #555;
}

#user-options {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#user-options > li {
    list-style: none;
}

#user-options > li > span {
    font-size: 1.5rem;
    font-weight: 300;
}

#user-options > li > span > b {
    font-weight: 500;
}

#right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#info {
    padding: 2rem;
}

#info > a {
    color: var(--secondary);
}

#what-now {
    margin: 3rem auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    width: 80%;
    text-align: center;
}

#what-now > h2 {
    font-size: 3rem;
}

#what-now > h3 {
    font-size: 2rem;
}

#what-now > p {
    margin-top: 2rem;
    font-size: 1.75rem;
}