.bg {
    z-index: -100;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("/img/graph_tile.png");
    background-repeat: repeat;
    background-size: 4rem;
    overflow: hidden;
    background-color: var(--secondary-light);
    user-select: none;
    
}

.gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white 35%, transparent 50%);
}

.plot {
    height: 95rem;
    width: auto;
    transform: scaleX(-1);
    position: absolute;
    left: 25rem;
    bottom: -5rem;
}

.caption {
    position: absolute;
    bottom: 7.5rem;
    left: 60%;
    color: #999;
}

.plot-wrapper {
    overflow: hidden;
    transition: width 4s;
    height: 95rem;
    width: 60rem;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    left: 0;
    bottom: 0;
}

main {
    margin-top: 10rem !important;
    width: 50%;
    height: calc(85vh - 6rem);
    padding-left: 20rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-container > div {
    margin-top: auto;
    display: flex;
    gap: 5rem;
}

.left-container > div > button {
    width: 23rem;
    height: 5rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--secondary);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.1s;
    box-shadow: 7px 7px 0px 0px var(--secondary-light);
}

.left-container > div > button:hover {
    opacity: 0.8;
}

.left-container > h1 {
    font-size: 6rem; 
    color: #222;
    font-family: 'Ubuntu', sans-serif;
}

.left-container > h1 > img {
    width: 2rem;
    display: inline;
    opacity: 0.9;
}

.left-container > h2 {
    font-size: 3rem; 
    color: #444;
    font-family: 'Ubuntu', sans-serif;
}

.left-container > p {
    margin-top: 4rem;
    font-size: 2rem; 
    color: #999;
}