main {
    margin-top: 10rem;
    width: calc(100% - 40rem);
    height: 60rem;
    padding-inline: 20rem;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

main > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main > div > div {
    margin-top: auto;
    display: flex;
    gap: 5rem;
}

main > div > div > button {
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.1s;
}

main > div > div > button:hover {
    opacity: 0.8;
}

main > div > h1 {
    font-size: 6rem; 
    color: #222;
}

main > div > p {
    margin-top: 4rem;
    font-size: 2rem; 
    color: #999;
}

main > img {
    background-color: var(--secondary);
    width: 50rem;
    height: 100%;
    border-radius: 15px;
}