main {
    margin-top: 6.75rem;
}

#navbar {
    top: 0;
    left: 0;
    height: 5rem;
    width: calc(100% - 20rem);
    padding-inline: 10rem;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
    background-color: rgba(256, 256, 256, 0.5);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

#navbar::after {
    position: absolute;
    bottom: -1.75rem;
    left: 0;
    width: 100%;
    height: 1.75rem;
    background-color: var(--secondary);
    opacity: 0.5;
    content: '';
}

#navbar > a {
    color: black;
    text-decoration: none;
}

#navbar > a > h1 > span {
    color: var(--secondary);
}

#navbar > a > h1 > img {
    height: 1.25rem;
}

#navbar > ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

#navbar > ul > li > a {
    padding: 0.5rem;
    border-radius: 7.5px;
    text-decoration: none;
    color: #555;
    position: relative;
    font-size: 1.4rem;
}

#navbar > ul > li > a:hover {
    background-color: #f4f4f4;
}
